streamlit>=1.46.0
altair>=5.5.0
GitPython>=3.1.45
geopy>=2.4.1
geocoder>=1.38.1
matplotlib>=3.10.3
numpy>=2.3.1
pandas>=2.3.0
plotly>=6.2.0
Pillow>=11.3.0
protobuf>=5.29.5
pyarrow>=20.0.0
docx2txt>=0.9
pdfminer.six>=20250506
PyMySQL>=1.1.1
pycryptodome>=3.23.0
requests>=2.32.4
rich>=14.0.0
nltk>=3.9.1
watchdog>=6.0.0
validators>=0.35.0
tqdm>=4.67.1
typing_extensions>=4.14.0
python-dateutil>=2.9.0
pytz>=2025.2
tzdata>=2025.2
urllib3>=2.5.0
cryptography>=45.0.5
cffi>=1.17.1
